body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff5fa;
    font-family: "Georgia", serif;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3Ctext x='20' y='40' font-size='18' fill='%23ffb6c1'%3E♥%3C/text%3E%3C/svg%3E");

    background-repeat: repeat;
}


.home {
    text-align: center;
    background: rgba(255,255,255,0.75);
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 0 25px rgba(255,150,180,0.5);
}


h1 {
    color: #d63384;
    font-size: 45px;
}


p {
    color: #555;
    font-size: 20px;
}


button {
    margin-top: 20px;
    padding: 15px 35px;
    border: none;
    border-radius: 30px;
    background: #ff8fab;
    color: white;
    font-size: 18px;
    cursor: pointer;
}